.container
  = render "./shared/side_bar"
  .main
    .main__group
      .group-name{group_id: @group.id}
        = @group.name
      .group-member
        %span Members:
        %ul.group-members
          - @group.users.each do |user|
            %li.group-mem
              = user.name
      .group-edit
        = link_to "Edit",edit_group_path(@group)
    .main__messages.js-message-list
      = render @messages
    .main__send
      = form_for [@group, @message], id: "new_message" do |f|
        .input-area
          .input-area__text.js-message-send-area
            = f.text_field :content, class: "text-box js-message-content", placeholder: "type a message", autocomplete: "off"
            = f.label :image do
              = fa_icon 'image'
              = f.file_field :image, class: "image-form"
          = f.submit "Send", class: "input-area__button"




