.side
  .side__user
    .user
      %span.user__name
        = current_user.name
      %li.user__edit
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog'
      %li.user__edit
        = link_to new_group_path do
          = fa_icon 'edit'
  .side__group
    .group-list
      - @groups.each do |group|
        .group-list__group
          = link_to group_messages_path(group) do
            .group-list__group-name
              = group.name
            .group-list__group-messages
              まだメッセージがありません

